body {
background-color: #555555;
margin: 0px;
}

#good_gag {
    width: 680px;
    background-color: white;
    margin: 0 auto ;
}
#logo_btn {
    background-color: #fed50a;
    position: relative;
    border-bottom: 1px solid orange;
    padding: 3px;
}

#logo {
    display: inline-block;
    margin-left: 8px;
    margin-top: 1px;
}
#logo img {
    vertical-align: middle;
}

#btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-top: 3px;
}
/* #btn img {
    vertical-align: bottom;
} */
#menu {
    background-color: #f5f5f5;
    text-align: center;
    border-bottom: 1px solid darkgray;
}
#menu > ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline-block;
    width: 280px;
    margin-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;

}
#menu li:first-child {
    margin-left: 0px;
    color: red;
    font-weight: bold;
    border-bottom: 3px solid red;
}

#contents > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}
#contents .article_meta > li {
    display: inline-block;
    color: darkgray;
    font-size: 12px;
}
#contents .article_meta > li:first-child {
    color: chocolate;
}

#contents .article_meta > li::after { /* 피수도? 컨텐츠 */
    margin-left: 12px;
    margin-right: 12px;
    color: #e0e0e0;
    content:"|";
}
#contents .article_meta > li:last-child::after { 
    content:"";
}

#contents .article_title .reply_count {
    color: coral;
    font-size:14px;
}
#contents .article_title .reply_count::before {
    content : "[";
}
#contents .article_title .reply_count::after {
    content : "]";
}

#contents .article_meta {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.title {
    font-size: 15px;
}

#contents .article {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

#paging {
    background-color: #f5f5f5;
    text-align: center;
}
#paging ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
#paging ul > li {
    display: inline-block;
}
#paging button {
    border: 1px solid darkgray;
    background-color: #ffffff;
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
    color: gray;
    padding: 0px 8px;
    vertical-align: top;
}
#footer {
    background-color: #222;
    height: 130px;
    text-align: center;
}
#footer > #login {
    padding: 10px;
}
#footer > #login > button {
    border: 0px;
    background-color: #444;
    color: darkgray;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}
#footer > #smaple {
    color: gray;
    margin-top: 20px;
}
