body {
    margin: 0;
}

* {
    font-size: 15px;
    color: #333; /* 검정 대신 사용 */
}

#content { 
    width: 1000px;
    margin: 0 auto;
}

#list_info {
    position: relative;
}

#list_info #left {
    display: inline-block;
}
#list_info #left .cnt {
    color: royalblue;
    font-weight: bold;
}
#list_info #right {
    display: inline-block;
    position: absolute;
    right: 0;
}

#list_info #right ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;   
}
#list_info #right li {
    display: inline-block;
    margin-left: 10px;
}
#list_info #right li.active {
    font-weight: bold;
}

#data_grid {
    width:100%;
    border-collapse: collapse;
    /* border-bottom: 1px solid #bbb; */
}

#data_grid > thead > tr > th {
    border-top: 2px solid #333;
    border-bottom: 1px solid #bbb;
    background-color: #eee;
    height: 40px;
    /* padding: 0px; */
}

#data_grid > tbody > tr > td {
    border-bottom: 1px solid #bbb;
    height: 40px;
    text-align: center;
}

#data_grid td.align_left {
    text-align: left;
}